html{
    font-family:sans-serif ;
    overflow-x: hidden;
}


body{
    margin: 0;
    margin-top: 75px;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
}

.wrapper{
    height:100vh;
    width: 100%;
}

.top-nav{
    height:75px;
    width:100%;
    border-bottom:1px solid #cccccc;
    display: flex;
    text-align: center;
    position: fixed;
    top:0;
    background-color: #ffffff;
    z-index: 99;
   
}

.logo-section{
    display: flex;
    align-items: center;
    padding:10px;

}

.logo{
    height:40px;
    width: 182px;
    
}


.searchbar{
    align-self: center;
    display: flex;
    flex: 1;                 
    max-width: 511px;        
    min-width: 511px;
    height: 55%;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid black;
    overflow: hidden;
}

.search-icon{
    padding: 7px;
}


 #search{
    width: 500px;
    height: 90%;
    font-size: 17px;
    border: none;
    align-items: center;
    padding-top: 4px;
}

#search:focus{
    width: 500px;
    height: 90%;
    font-size: 17px;
    border: none;
    align-items: center;
    padding-top: 4px;
    outline:none;
}


.space{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 70%;
    height: 73px;
    margin-top: 2px;
   
}



.mylist, .cart, .sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75px;
    max-width: 75px;
    height: 73px;
    margin-top: 2px;
    padding: 0 15px 0 15px;
   
    
}

.top-nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

.sign-in:hover,.mylist:hover,.cart:hover{
    background-color: #dbd7d2 ;
    cursor: pointer;
}


.nav-middle{
    height:42px;
    width:100%;
    border-bottom:1px solid #e6e6e6;
    display: flex;
    text-align: center;
}

.hamburger{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 172px;
    max-width: 172px;
    height: 60%;
    padding-left: 20px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
}

.my-store{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 288px;
    max-width: 288px;
    height: 60%;
    padding-left: 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  
}

.mystore-icon{
    padding-left: 5px;
}

.space2{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 2px;
   
}

.kohls-card, .baby-reg, .coupons {
    display: flex;
    align-items: center;
    gap: 4px;     
  padding-right: 10px;
    width: 150px;  
    font-size: 14px;
    font-weight: 600;
    flex-shrink: 0;
    justify-content: flex-end;
    padding-left: 20px;
    
}


.help{
    display: flex;
    align-items: center;
    gap: 4px;    
    padding-right: 10px;
    width: 150px;  
    font-size: 14px;
    font-weight:600;
    flex-shrink: 0;
    justify-content: center;
    margin-right: -20px;
    
}

.nav-bottom{
    height:45px;
    width:100%;
    border-bottom:1px solid #e6e6e6;
    display: flex;
    text-align: center;
    
  
}


.navlist{
    width:100%;
    list-style: none;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -35px;
   
   
}


.navlist li {
    display: flex;
    align-items: center; 
    padding: 0 15px;
    flex: 0 0 auto;
    height: 100%;
  }

  .babyimg {
    height: 16px;         
    width: auto;
    margin-left: 4px;     
    position: relative;  
              
  }
  
  .sephoraimg {
    height: 10px;        
    width: auto;
    margin-left: 4px;
    position: relative;
    top: 0;              
  }

.navlist :first-child{
    color:red;
}

.dropdown{
    background-color: #faf8f6;
    width:120px;
    flex-shrink: 0;  
    margin-right: 20px;
   
}

.banner{
    height:90px;
    width:100%;
    background-color:#faf8f6 ;
    padding: 10px;
    display: flex;
    
    overflow-x: hidden;
}

.innerbanner{
    min-width:1400px;
    height: 100%;
    flex-shrink: 0;
    
    display: flex;
    overflow-x: clip;
}


.banner-text{
    
   line-height: 30%;
   margin-top: 18px;
   font-size: 15px;
}
.spacer{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 2px;
}

.banner-card{
    border: 2px solid #ec0745;
    border-radius: 5px;
    width:210px;
    height: 75px;
    align-self: center;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.banner-card1{
    margin-left:10px;
}
.banner-card2{
    border: 2px solid #24833d;
    margin-left:10px;
}

.banner-card3{
    margin-left:10px;
}


.banner-card2 .big,
.banner-card2 .little,
.banner-card2 .code2,
.banner-card2 .code3 {
    color: #24833d;
}

.banner-card3{
    border: 2px solid #870035;

}

.banner-card3 .big,
.banner-card3 .description{
    color: #870035;
}
.banner-card3 .description{
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    justify-self: center;

}
.big{
    padding: 10px 10px 0 10px;
    font-size: 20px;
    color: #ec0745;
}

.little{
    font-size: 14px;
    color: #ec0745;
    margin-top: 15px;
    margin-left: -5px;
}

.code{
    font-size: 12px;
    color: #ec0745;
   margin-left: 50px;
   margin-top: 10px;
}
.code2{
    font-size: 12px;
    color: #ec0745;
   margin-left: 95px;
   margin-top: 10px;
}
.code3{
    font-size: 12px;
    color: #24833d;
   margin-left: 25px;
   margin-top: 10px;
}
.code4{
    font-size: 12px;
    color: #24833d;
   margin-left: 0px;
   margin-top: 16px;
}

.description{
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #676460;
    justify-self: center;
}

.description a{
    font-size: 10px;
    color: #676460;
    padding-left:5px;
    
}

.r{
    font-size: 6px;
    vertical-align: super;
}


.dropdown{
    font-size:12px;
    text-align: center;
    margin-top: 5px;
}

.red3{
    color: red;
    font-weight: 600;
}

.down{
    font-size: 20px;
    padding: 5px;
}
.arrow-icon {
    padding-left: 5px;
    transform-origin: center;
    transform: scaleY(2) scaleX(2);
  }

  .sharkbanner{
    display: flex;
    justify-self: center ;
    padding:20px;
    flex-shrink: 0;
    flex-shrink: 0;
    
  }

  .clockbanner{
    display: flex;
    justify-self: center ;
    padding: 10px 0 20px 0;
    flex-shrink: 0;
    flex-shrink: 0;
  }

  .clockbanner img{
    border-radius: 5px;
    flex-shrink: 0;
    flex-shrink: 0;
  }

.gridimage1{ grid-area:grid1;}
.gridimage2{ grid-area:grid2;}
.gridimage3{ grid-area:grid3;}
.gridimage4{ grid-area:grid4;}
.gridimage5{ grid-area:grid5;}


  .content{
    width: 1400px;
   
    margin:auto;
    margin-bottom: -450px;
    padding-left:5px;
    display: grid;
    grid-gap:20px;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
     
     
     'grid1 grid1 grid3 grid5'
     'grid1 grid1 grid4 grid5'
     'grid2 grid2 grid4 grid5'
     
  }

  a,
button,
li,
.sign-in,
.mylist,
.cart,
.hamburger,
.my-store,
.kohls-card,
.baby-reg,
.coupons,
.help,
.search-icon,
.dropdown,
.banner-card,
.logo,
img{
    cursor: pointer;
}

.cyber-banner{
    background-color: #fdf8ef;
    width: 1450px;
    margin:auto;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.cyber-text{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    
    

}

.redcyber{
    color: #ec0745;
}

.cybercard{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: center;
    padding-left: 20px;
    margin-top: 0;
    margin:0;
}

.listcard{
    display: flex;
    height: 70px;
    width: 260px;
    background-color: #ec0745;
    color: white;
    margin-right: 20px;
    justify-content: center;
    font-weight: 800;
    text-align: center;
    align-items: center;
    font-size: 20px;
    padding:0 20px 0 20px;
    position: relative;
}

.cyber1{
    background-color: #860035;
}



.big10{
    font-size: 30px;
    padding-right: 5px;

}

.sub{
    vertical-align: super;
    font-size: 20px;
}

.listcard::after{
    content:"";
    position: absolute;
    top:-6px;
    bottom:-6px;
    right:-6px;
    left:-6px;
    border: 3px solid red;
    opacity: 0;
    transform: scale(0.75);    /* starts smaller, inside the gap */
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease;   /* animate growth */
    pointer-events: none;
}

.cyber1::after{
    content:"";
    position: absolute;
    top:-6px;
    bottom:-6px;
    right:-6px;
    left:-6px;
    border: 3px solid #860035;
    opacity: 0;
    transform: scale(0.75);    /* starts smaller, inside the gap */
    transition: 
        opacity 0.3s ease,
        transform 0.3s ease;   /* animate growth */
    pointer-events: none;

}


.listcard:hover::after{
    opacity:1;
    transform: scale(1);  
}

.product1{ grid-area:product1;}
.product2{ grid-area:product2;}
.product3{ grid-area:product3;}
.product4{ grid-area:product4;}
.product5{ grid-area:product5;}
.product6{ grid-area:product6;}
.product7{ grid-area:product7;}
.product8{ grid-area:product8;}


.product-grid{
    width:80%;
    margin:80px auto 80px auto;
    display: grid;
    gap:25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:    
     'product1 product2 product3 product4'
     'product5 product6 product7 product8'

     
  }

.product-grid img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 5px;
    
  }

  .product1, .product2, .product3, .product4,
  .product5, .product6, .product7, .product8 {
    display: flex;
    flex-direction: column;  /* stack image + copy vertically */
    width: 100%;
    
  }

.copy > *{
    display:block;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    
  }   
  .copy{
    margin-top: 5px;
  }


.new-price{
    font-weight: 800;
    font-size: 16px;
    padding: px 0 0 0;
}

.dicount{
    font-size: 10px;
    color: #ec0745;
    padding: 2px 0;
    font-weight: 600;
}

.old-price{
    font-size: 10px;
    font-weight: 800;
    padding: 2px 0;
}

.product-name{
    font-size: 10px;
    font-weight: 600;
    text-decoration: underline;
    padding: 2px 0;
}

.sale-amount{
    font-size: 10px;
    padding: 2px 0;
}

.select-styles{
    font-size: 10px;
    padding: 2px 0;
}

.kohls-cash{
    color: #24833d;
    font-size: 11px;
    font-weight: 600;
    padding-top:5px;
}
.starting{
    font-size: 10px;
    font-weight: 800;
    margin: 2px 0 0 0;
}

.cyberweek{
    font-size: 10px;
    color: #ec0745;
    padding: 2px 0;
    font-weight: 800;
}

.breakline{
    width: 80%;
    justify-self: center;
    border: 1px solid black;
    
}

.nav-sephora{
    height:45px;
    width:80%;
    display: flex;
    text-align: center;  
    margin-left: 150px;

}


.sephoralist{
    width:100%;
    list-style: none;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    text-decoration: underline;
    justify-content: center;
    margin: 20px 35px 0 35px;
   
}

.sephoralist img{
    width:350px;
}

.sephoralist li{
    margin: 0 35px 0 35px;
    font-size: 14px;
    
}


.sephoralist li:hover{
    margin: 0 35px 0 35px;
    font-size: 14px;
    text-decoration: underline 2px;
}

.holiday-banner{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin:20px;
}
.holiday-banner img{
    width: 1400px;
    margin-top:10px;
    
}

.holiday-banner p{
    font-size: 11px;
    margin-bottom: 60px;
    
}

.spaceman{
    height: 40px;
    width: 100%;
}